
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans';
    box-sizing: border-box;  
}
html{
    scroll-behavior: smooth;
}
body{
    background: #0E0E0F;
    color: white; 
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/profile.png);
    background-size: cover;
    background-position: center;
}
.logo{
    opacity:.3;
    transition: 0.5s;
}
.logo:hover{
    opacity: 1;
}
.container{
    padding: 10px 5%;
}

#navigator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 150px;
    height: 90px;
}

#navigator ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

#navigator ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
}

#navigator ul li a::before{
    content: '';
    position: absolute;
    right: 0px;
    top: -6px;
    background: #D38169;
    width: 0%;   
    height: 3px;
    transition: 0.5s;
}
#navigator ul li a::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -6px;
    background: #D38169;
    width: 0%;   
    height: 3px;
    transition: 0.5s;
}

#navigator ul li a:hover::before{
    position: absolute;
    right: 0px;
    top: -6px;
    background: #AD4325;
    width: 100%;   
    height: 3px;
}
#navigator ul li a:hover::after{
    position: absolute;
    left: 0px;
    bottom: -6px;
    background: #AD4325;
    width: 100%;   
    height: 3px;
}
.header-text{
    margin-top: 20%;
    font-size: 25px;
}
.header-text p{
    font-size: 15px;
}
.specialties{
    display: inline;
    position:relative;
    top: 0px;
    transition: .3s;
}
.specialties:hover{
    color:#AD4325;
    top: -5px;
}
.intro{
    display: inline;
    position:relative;
    top: 0px;
    transition: .2s;
}
.intro:hover{
    color:#D38169;
    top: -3px;
}
#name{
    color:#D38169;
    transition: color 0.5s, transform 0.5s;
}
#name:hover{
    color:#a74327;
    transform: translateX(10px);
}
/* ------------------ about  ------------------ */
#about{
    padding: 80px 0px;
}

.row{
    display: flex;  
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    position: relative;
    flex-basis: 35%;
}
.about-col-2{
    flex-basis: 60%;
    color: #ffffffcc;
    font-size: 15px;
}
.about-col-1 img{
    width: 95%;
    border-radius: 20px;
    transition: .3s;
}
.about-col-1 img:hover{
    transform: scale(1.1);
}
#about-me{
    font-size: 35px;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    flex-wrap: nowrap;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor:  pointer;
    position: relative;
    color: #ffffff;
}
.col1, .col2{
    display: flex;
}
.tab-links::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -6px;
    left: 0;
    background: #D38169;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #D38169;
    font-size: 15px;
}
.tab-contents{
    display: none;
}
.active-tab{
    display: block;
}
/* ------------------ services  ------------------ */

#my-services{
    font-size: 50px;
    color: white;
    position: relative;
}
#services{
    padding: 30px 0;
}
.services-list{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px; 
    margin-top: 50px;
    line-height: 23px;
}
.services-list i {
    font-size: 40px;
    margin-bottom: 40px;
}
.services-list div h2{
    font-size: 23px;
}
.services-list div p{
    font-size: 13px;
}
.services-list div a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    margin-top: 20px;
    display: inline-block;
}
.services-list div{
    background: #262626;
    padding: 40px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s; 
}
.services-list div:hover{
    background: #D38169;
    transform: translateY(-10px);
}
/* ------------------ portfolio  ------------------ */
.portfolio{
    padding: 50px 0;
}

#my-work{
    font-size: 50px;
    color: white;
    position: relative;
}
.work-list{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px; 
    margin-top: 50px;
}
#Current{
    height: 400px;
}
#QuizIt{
    height: 400px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: none;
}

.work:nth-child(1),
.work:nth-child(2),
.work:nth-child(3){
    display: inline-block;
}

.work video{
    width: 100%;
    display: block;
    border-radius: 10px;
    opacity: .5;
    transition: .8s;
}

.work:hover video{
    opacity: 1;
}
.layer p{
    font-size: 12px;
    font-weight: 50;
    color: #ffffffcc;   
}
.layer h3{
    font-size: 20px;
    line-height: 40px;
}
.layer{
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #d38269a2);
    left: 0;
    bottom: 0; 
    border-radius: 10px;
    width: 100%;
    height: 0%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: .5s;
}
.layer a{
    margin-top: 20px;
    color: #AD4325;
    text-decoration: none;
    font-size: 13px;
    line-height: 40px;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.work:hover .layer{
    height: 50%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    font-size: 15px;
    border: 1px solid #D38169;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: .5s;
}
.btn:hover{
    background:#D38169;
}
/* ------------------ contact  ------------------ */
#contact-me{
    font-size: 50px;
    color: white;
    position: relative;
}   
.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 50px;
    color: #ffffffcc;

}
.contact-left p i{
    color: #AD4325;
    margin-right: 15px;
    font-size: 25px;
    transition: .3s;
}
.contact-left p i:hover{
    transform: scale(1.2);
}
.contact-right{
    flex-basis: 55%;
}
.contact-left .social-icons a i{
    transition: .3s;
}
.contact-left .social-icons a i:hover{
    transform: translateY(-6px);
    color: #AD4325;
    opacity: 1;
}
.social-icons{
    margin-top: 30px;
    transition: .3s;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: white;
    opacity: .7;
    display: inline-block;
}
.btn.btn2 {
    display: inline-block;
    background:#D38169; 
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#ffffffcc;
    font-size: 15px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;   
} 
.copyright{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    text-align: center;
    padding: 5px 0;
    background:#2b1b16;
    font-weight: 300;
    margin-top: 20px;
    color: #ffffffcc;
}
.copyright i{
    color: #D38169;
}
/* ------------------ css-for-small-screens  ------------------ */
#navigator .fa-solid{
    display: none;
}

@media only screen and (max-width: 1100px){
    #header{
        background-image: url(images/background-phone.png);
    }
    #menu_icon{
        position: fixed;
        top: 25px; 
        right: 25px;
        opacity: .7;
        transition: .5s;
        z-index: 100;
    }
    .header-text{
        margin-top: 50%;
        font-size: 16px;
    }
    .header-text p{
        font-size: 13px;
    }
    .header-text h1{
        font-size: 25px;
    }
    .logo{
        transform: scale(.8);
    }
    #navigator .fa-solid{
        display: block;
        font-size: 25px;
    }
    #navigator #menu_bar{
        background:#a74327ce;
        position: fixed;
        top: 0; 
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right .5s;
    }
    #navigator ul li{
        margin: 25px;
    }
    #navigator ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    #about-me{
        font-size: 35px;
    }
    .about-col-1{
        flex-basis: 100%;
        margin-bottom: 30px;
    }  
    .about-col-2{
        flex-basis: 100%;
        font-size: 13px;
    }
    .tab-titles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .col1{
        display: table;
        position: relative;
        flex-basis: 35%;
    }
    .col2{
        display: table;
        flex-basis: 35% ;
    }
    .tab-links{
        margin-bottom: 10px;
        font-size: 16px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}